/* DEFAULT MAIN */
main.default {
    display: flex;
    align-items: center;
    justify-content: center;
} 
main.default > div {
    /* border: solid 1px #f00; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* animation: hide_d 1s cubic-bezier(.99,-0.02,.54,.74) reverse; */
}   
main.default > .center {
    height: 100%;
    justify-content: center;
}

main.default > .center > h1 {
    font-family: 'Nunito';
    font-size: 70px;
    margin-bottom: 30px;
    padding: 5px 25px;
    background: var(--bg-main);
    border-radius: 5px;
} main.default > .center > h2 {
    font-family: 'Nunito';
    position: absolute;
    transform: translateY(45px) translateX(30px) rotate(-3deg);
    text-align: center;
    background: var(--inverse-main);
    padding: 5px 10px;
    border-radius: 5px;
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
}
main.default > .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} main.default > .bottom > span {
    font-family: 'Nunito';
    margin: 0 10px 3px;
    text-align: center;
} main.default > .bottom > * {
    opacity: .3;
    animation: bounce 5s infinite ease-in-out;
}

/* SEARCHER */

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
}
.search > input {
    width: 100%;
    background: var(--inverse-opacity);
    border: 0;
    border-radius: 100px 0 0 100px ;
    padding: 10px 15px;
    font-size: 17px;
} .search > input::placeholder {
    color: var(--search-placeholder);
}
.search > .sb {
    align-items: center;
    display: flex;
    padding: 10px 13px;
    font-size: 17px;
    background: var(--inverse-opacity);
    border-radius: 0 100px 100px 0;
    cursor: pointer;
    transition: background .2s;
} .search > .sb > svg {
    margin-left: 10px;
} .search > .sb:hover {
    background: var(--inverse-main);
} .search > .sb:active {
    transition: background .0s;
    background: var(--inverse-full);
}
.results {
    display: flex;
    flex-direction: column;
    margin-top: 0 !important; 
} .results > h1 {
    margin:  0 0px;
}





/* SETTINGS */
.setting {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
} .setting > .title {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
} .setting > .title > span {
    margin-top: 5px;
    opacity: .9;
}

.setting > .edit {
    display: flex;
    flex-direction: column;
} 
.setting > .checkboxes > label {
    margin-bottom: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4px 0;
    border-radius: 400px;
    transition: background .2s;

} .setting > .checkboxes > label > span {
    margin-left: 26px;
    margin-bottom: 1px;
} .setting > .checkboxes > label:hover {
    background: var(--inverse-opacity);

} .setting > .checkboxes > label:active {
    background: var(--inverse-light);
    transition: background .05s;
}

.setting > .boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.setting > .boxes > .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    height: 30px;
    padding: 10px 20px;
    background: var(--theme-bg);
    min-width: fit-content;

    border: solid var(--text) 2px;
    border-radius: 10px;

    cursor: pointer;

    transition: opacity .2s, transform .2s;
    
} .setting > .boxes > .box > span {
    color: var(--theme-text);
} .setting > .boxes:hover > .box:not(:hover) {
    opacity: .6;
} .setting > .boxes > .box:hover {
    transform: scale(1.02);
} .setting > .boxes > .box:active {
    transform: scale(.98);

}

