/* MINI RECIPE WRAPPER */
.recipe_mini {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background: var(--bg-main);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    transition: background .5s, transform .3s;
} .recipe_mini > h2 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
} .recipe_mini > .info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
} 

.recipe_mini > .info > span > span > span {
    padding: 1px 10px;
}
.recipe_mini > .info span {
    font-family: 'Nunito';
    letter-spacing: 0px;
    text-wrap: nowrap;
    margin-right: 7px;
    background: var(--inverse-opacity);
    margin-left: 0;
    padding: 1px 10px;
    padding-left: 0;
    border-radius: 300px;
} 

.recipe_mini:hover {
    background: var(--inverse-opacity);
    transition: background .15s, transform .3s;
} .recipe_mini:active {
    transform: scale(.97);
}

/* FULL RECIPE WRAPPER */
.recipe {
    display: flex;
    flex-direction: column;
} 
.recipe > .back {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition: opacity .2s, transform .2s;
    cursor: pointer;
    opacity: .85;
    font-size: 18px;
    width: fit-content;
    padding-right: 60px;
} .recipe > .back > span {
    margin-left: 10px;
    margin-bottom: .5px;
} .recipe > .back:hover {
    opacity: 1;
} .recipe > .back:active {
    transform: scale(.94);
} 

.recipe > .collections {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0 10px;
} .recipe > .collections > span > span > span {
    padding: 1px 10px;
}
.recipe > .collections span {
    text-wrap: nowrap;
    margin-right: 7px;
    font-family: 'Nunito';
    letter-spacing: 0px;
    /* opacity: .9; */
    background: var(--inverse-opacity);
    margin-left: 0;
    padding: 1px 10px;
    padding-left: 0;
    border-radius: 300px;
}

.recipe > .info {
    margin: 10px 0 0;
    display: flex;
    flex-direction: column;
} .recipe > .info > div {
    margin-bottom: 10px;
} .recipe > .info > div > h2 {
    margin-bottom: 7px;
} .recipe > .info > div > .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} .recipe > .info > div > .list > div {
    background: var(--inverse-opacity);
    display: flex;
    align-items: center;
    margin-right: 7px;
    margin-bottom: 7px;
    border-radius: 14px;
} .recipe > .info > div > .list > div > .name {
    font-family: 'Nunito';
    letter-spacing: 0px;
    padding: 4px 10px;
    background: var(--inverse-opacity);
    border-radius: 14px;
    font-size: 15px;
} .recipe > .info > div > .list > div > .amount {
    font-family: 'Nunito';
    letter-spacing: 0px;
    padding: 4px 10px;
    text-wrap: nowrap;
    font-size: 15px;
}

.recipe > .buttons {
    display: flex;
    gap: 3px;
    border-radius: 100px;
    justify-content: space-between;
} .recipe > .buttons > .mini {
    display: flex;
    background: var(--bg-main);
    border-radius: 20px;
    margin-left: 10px;
    
}  .recipe > .buttons > .mini > button {
    padding: 8px 9px;

}

.recipe > .buttons > .mini > button > svg {
    padding: 0;
    margin: 0;
}

.recipe > .buttons > button {
    border-radius: 20px;
    width: 204px;
    justify-content: start;
    text-align: left;
    background: var(--bg-main);

} .recipe > .buttons > button:hover {
    background: var(--inverse-light);
}