@font-face {
    font-family: 'SF Pro';
    src: url("/static/font/SF-Pro-Display-Light.otf") format("opentype");
}
@font-face {
    font-family: 'Nunito';
    src: url('/static/font/Nunito-Regular.ttf');
}


html {
    height: 100%
}
* {
    color: #fff;
    font-family: 'SF Pro';

    /* letter-spacing: 1px; */

    scrollbar-color: #999 #000;
    scroll-behavior: smooth;
    scrollbar-width: thin;

    user-select: none;
    -webkit-tap-highlight-color: transparent;

} 
body {
    margin: 0;
    /* background: linear-gradient(210deg, #110014, #370047) #000; */
    background: linear-gradient(210deg, #140000, #470000) #000;
    /* height: calc(100vh - 60px);  */ 
    height: 100vh;
    height: 100dvh;
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
main {
    height: 100%;
    max-height: 100%;
    /* min-height: 100%; */
    padding: 20px;
    overflow: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
} p {
    margin-bottom: 5px;
    font-size: 18px;
}

button {
    color: #fff;
    /* background: rgba(0,0,0,.3); */
    background: rgba(0,0,0,0);
    border: 0;
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s, transform .3s;
} button > svg {
    margin-right: 10px;
} button > span {
    font-family: 'Nunito';
    letter-spacing: 0px;
}
button:hover {
    transition: background .1s, transform .2s;
    background: rgba(255,255,255,.1);
} button:active {
    transform: scale(.98);
}

code {
    font-family: monospace;
    font-size: 15px;
    margin: 0 2px;
    background: rgba(0,0,0,.3);
    padding: 2px 5px;
    border-radius: 4px;
}

input[type=checkbox] {
    position: relative;
    appearance: none;
    top: -12px;
    left: -4px;
    cursor: pointer;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    padding: 10px;
    background-color: transparent;
    border: solid 2px #fff;
    border-radius: 400px;
}
input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#fff;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    top: 5px;
    left: 8px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
}

/* LOADER */
.load {
    z-index: 10;
    position: fixed;
    background: rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    transition: opacity .4s;
} #loader {
    margin-bottom: 20px;
    height: 45px;
    width: 45px;
    animation: spin infinite linear 1s;
    border: solid 5px #fff;
    border-top: solid 5px transparent;
    border-radius: 1000px;
    opacity: 1;
}


/* TABS */
aside {
    width: 100%;
    display: flex;
    background: rgba(0,0,0,.45);
}

aside > .side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
    opacity: .7;
    transition: all .3s;
} aside > .side:hover {
    background: rgba(0,0,0,.3);
    opacity: 1;
} 
aside > .side > span {
    margin-top: 5px;
    font-size: 12px;
    opacity: .9;
    text-align: center;
    font-family: 'Nunito';
    /* letter-spacing: 1px; */
}
aside > .side > svg {
    padding: 3px 4px;
    transition: all .3s;
    border-radius: 100px;
    /* background: rgba(0,0,0,.3); */
}
aside > .side.active {
    opacity: 1;
} aside > .side.active > svg {
    padding: 3px 15px;
    background: rgba(255,255,255,.06);
} 

@media (min-width: 600px) {
    aside > .side {
        /* width: auto; */
        flex-direction: row;
        justify-content: center;
        /* margin-right: 10px; */
        /* border-radius: 10px; */
    } aside > .side > span {
        margin-top: 0;
        margin-left: 5px;
        font-size: 14.5px;
    } aside > .side > svg {
        margin-right: 7px;
    }
}





/* KEYFRAMES */
@keyframes hide {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
        transform: translateX(-30px);
    }
}
@keyframes hide_r {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
        transform: translateX(30px);
    }
}
@keyframes hide_d {
    0% {
        opacity: 1;
    } 70% {
        opacity: 0;
    } 
    100% {
        opacity: 0;
        transform: translateY(-100px);
        /* transform: translateY(30px); */
    }
}
@keyframes bounce {
    50% {
        transform: translateY(5px);
    } 100% {
        transform: translateY(0px);
    }
}


@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}